aniso8601
bcrypt
blinker
build
certifi
charset-normalizer
click
Flask
Flask-RESTful
idna
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
packaging
protobuf
pyproject_hooks
pytz
requests
six
urllib3
Werkzeug
