/* Reset some styles */
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

/* Set some basic styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Set basic styles for all links within .container */
.container a {
    color: #007bff;
    text-decoration: none;
}

.container a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Set some styles for the navbar */
.navbar {
    background-color: #343a40;
}

.navbar-brand {
    color: #fff;
}

.navbar-nav .nav-link {
    color: #ddd;
}

.navbar-nav .nav-link:hover {
    color: #fff;
}

/* Style the container */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2em 1em;
}

/* Style alert messages */
.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

body.dark-mode {
    background-color: #343a40;
    color: #fff;
}

.dark-mode .navbar {
    background-color: #282c34;
}

body.dark-mode .device li {
    background-color: #282c34;
    color: #fff;
}

body.dark-mode h1, body.dark-mode h2 {
    color: #fff;
}

body.dark-mode form input[type="submit"] {
    background-color: #fff;
    color: #343a40;
}

body.dark-mode form input[type="submit"]:hover {
    background-color: #ddd;
    color: #343a40;
}

body.dark-mode .add_device form {
    background-color: #282c34;
    color: #fff;
}

body.dark-mode h1 {
    color: #fff;
}

body.dark-mode form label {
    color: #fff;
}

body.dark-mode form input[type="text"], body.dark-mode form input[type="number"], body.dark-mode form select {
    background-color: #343a40;
    border-color: #fff;
    color: #fff;
}

body.dark-mode form input[type="submit"] {
    background-color: #fff;
    color: #343a40;
}

body.dark-mode form input[type="submit"]:hover {
    background-color: #ddd;
    color: #343a40;
}

.dark-mode .content-section {
    background-color: #282c34;
    color: #fff;
}

.dark-mode .table {
    color: #fff;
}

.dark-mode .table thead th {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.dark-mode .table tbody td {
    color: #fff;
    border-top: 1px solid #fff;
}

.dark-mode form {
    color: #fff;
}

.dark-mode form input {
    background-color: #282c34;
    border: 1px solid #fff;
    color: #fff;
}

.dark-mode form input::placeholder {
    color: #ccc;
}

.dark-mode form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #fff;
}

.dark-mode form input[type="submit"]:hover {
    background-color: #0056b3;
    border: 1px solid #fff;
}

.dark-mode form label {
    color: #fff;
}
