[Unit]
Description=Script to check PVP price and Activate/Deactivate Switches
After=multi-user.target

[Service]
Type=simple
User=pvpccheap
Group=pvpccheap
Restart=on-failure
WorkingDirectory=/opt/pvpccheap/pvpccheap
ExecStart=/opt/pvpccheap/venv/bin/python /opt/pvpccheap/pvpccheap/pvpccheap.py

[Install]
WantedBy=multi-user.target
