[Unit]
Description=Script to check PVP price and Activate/Deactivate Switches
After=multi-user.target

[Service]
Type=simple
User=pvpccheap
Group=pvpccheap
Restart=on-failure
ExecStart=/opt/pvpccheap/venv/bin/python -m pvpccheap.pvpccheap

[Install]
WantedBy=multi-user.target
