{% block content %}
    <h1>Add Device</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.device_name.label }} {{ form.device_name() }}
        </div>
        <div>
            {{ form.max_hours.label }} {{ form.max_hours() }}
        </div>
        <div>
            <p>{{ form.active_hours_weekday.label }}</p>
            {% for subfield in form.active_hours_weekday %}
                <div>{{ subfield() }} {{ subfield.label }}</div>
            {% endfor %}
        </div>
        <div>
            <p>{{ form.active_hours_weekend.label }}</p>
            {% for subfield in form.active_hours_weekend %}
                <div>{{ subfield() }} {{ subfield.label }}</div>
            {% endfor %}
        </div>
        {{ form.submit() }}
    </form>
{% endblock %}
