<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>

    {% block extra_js_head_for_electricity_price %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}">PVPC Cheap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Alternar navegación">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a id="darkModeToggle" class="nav-link" href="#">
                        <i id="darkModeIcon" class="fas fa-moon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('electricity_price') }}">Energy prices</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_device') }}">Add new device</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <!--- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const darkModeIcon = document.querySelector('#darkModeIcon');
            let isDarkMode = localStorage.getItem('darkMode') === 'true';

            document.body.classList.toggle('dark-mode', isDarkMode);
            darkModeIcon.classList.toggle('fa-moon', !isDarkMode);
            darkModeIcon.classList.toggle('fa-sun', isDarkMode);

            document.querySelector('#darkModeToggle').addEventListener('click', function (e) {
                e.preventDefault();
                isDarkMode = !isDarkMode;
                localStorage.setItem('darkMode', isDarkMode);
                document.body.classList.toggle('dark-mode', isDarkMode);
                darkModeIcon.classList.toggle('fa-moon', !isDarkMode);
                darkModeIcon.classList.toggle('fa-sun', isDarkMode);
            });
        });
    </script>

</body>
</html>
