{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

    <h1>¡Hello, {{ current_user.username }}!</h1>
    <h2>Your devices:</h2>
    {% if current_user.devices %}
    <ul class="device">
        {% for device in current_user.devices %}
            <li class="device" data-device-id="{{ device.id }}">
                <div class="device-info">
                    Device Name: {{ device.device_name }} <br>
                    Device Protocol: {{ device.device_protocol }} <br>
                    {% if device.device_protocol == 'IFTTT' %}
                        Webhook: {{ device.webhook }} <br>
                    {% endif %}
                    Max Hours: {{ device.max_hours }} <br>
                </div>

                <!-- Weekday's clock -->
                <div class="sleep-bar">
                    <div class="hour-labels">
                      {% for hour in range(24) %}
                        <div class="hour-label">{{ hour }}</div>
                      {% endfor %}
                    </div>

                    <div class="sleep-hours">
                        {% set active_hours = device.sleep_hours|map(attribute='hour')|list %}
                        {% for hour in range(24) %}
                            {% set next_hour = hour + 1 %}
                            {% if hour in active_hours %}
                                {% if next_hour in active_hours %}
                                    <div class="sleep-hour active" style="left: {{ hour * 4.1667 }}%; width: 4.1667%;"></div>
                                {% else %}
                                    <div class="sleep-hour active" style="left: {{ hour * 4.1667 }}%; width: {{ (next_hour - hour) * 4.1667 }}%;"></div>
                                {% endif %}
                            {% else %}
                                <div class="sleep-hour" style="left: {{ hour * 4.1667 }}%;"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <!-- Weekend's clock -->
                <div class="sleep-bar">
                    <div class="hour-labels">
                      {% for hour in range(24) %}
                        <div class="hour-label">{{ hour }}</div>
                      {% endfor %}
                    </div>

                    <div class="sleep-hours">
                        {% set active_hours = device.sleep_hours_weekend|map(attribute='hour')|list %}
                        {% for hour in range(24) %}
                            {% set next_hour = hour + 1 %}
                            {% if hour in active_hours %}
                                {% if next_hour in active_hours %}
                                    <div class="sleep-hour active" style="left: {{ hour * 4.1667 }}%; width: 4.1667%;"></div>
                                {% else %}
                                    <div class="sleep-hour active" style="left: {{ hour * 4.1667 }}%; width: {{ (next_hour - hour) * 4.1667 }}%;"></div>
                                {% endif %}
                            {% else %}
                                <div class="sleep-hour" style="left: {{ hour * 4.1667 }}%;"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <form action="{{ url_for('remove_device', device_id=device.device_id) }}" method="post">
                    <input type="submit" value="Remove Device">
                </form>
            </li>
        {% endfor %}
    </ul>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    {% else %}
    <p>You don't have any device registered.</p>
    {% endif %}
{% endblock %}
